@page "/posts/{url}"
@inject BlazorBlog.Client.Services.IBlogService BlogService

@if (CurrentPost == null)
{
    <span>loading...</span>

}
else
{
    <img src="@CurrentPost.Image" />
    <h3>@CurrentPost.Title</h3>
    <h6>@CurrentPost.Content</h6>
}


@code {
    private BlazorBlog.Shared.BlogPost CurrentPost;
    [Parameter] public string Url { get; set; }


    protected override async Task OnInitializedAsync()
    {
        CurrentPost = await BlogService.GetBlogPostByUrl(Url);
    }
}
